*, 
*::after,
*::before {
padding: 0;
margin: 0;
box-sizing: border-box;
}

:root {
--dark-color: #000; 
}

body {
display:flex;
align-items: flex-end;
justify-content: center;
min-height: 100vh;
background-color: var(--dark-color);
overflow: hidden;
perspective: 1000px; 
}

.night {
position: fixed; 
left: 50%;
top: 0;
transform: translateX(-50%);
width: 100%;
height: 100%;
filter: blur(0,1vmin);
background-image: radial-gradient(ellipse at top, transparent 0%, var(--dark-color));,  radical-gradient(ellipse at bottom, var(--dark-color),
rgba(145, 223, 255, 0.2)), repeating-linear-gradient(220deg, black 0px, black 19px, transparent 22px), repeating-linear-gradient(148deg, black 0px, black 19px, transparent 22px),                                                                                                      
repeating-linear-gradient(189deg, black 0px, black 19px, transparent 22px), repeating-linear-gradient(1148deg, black 0px, black 19px, transparent 19px, transparent 22px), linear-gradient(90deg, #00fffa, #f0f0f0); 
} 

.flowers { 
position: relative;
transform: scale(0.7); 
}
.flower {
position: absolute;
bottom: 10vmin; 
transform-origin: bottom center; 
z-index: 10; 
--fl-dspeed: 0.8s; 
} 
.flower--1 {
animation: moving-flower-1 4s 
linear infinite;
}
.flower--1 .flower__line {
height: 70vmin; 
animation-delay: 0.3s;
} 
.flower--1 .flower__line__leaf--1
{
  animation: blooming-leaf-right 
var(--fl-speed) 1.6s backwards; 
}
.flower--1 .flower__line__leaf--1 
{
animation: blooming-leaf-right 
var(--fl-speed) 1.4s backwards;
}
.flower--1 .flower__line__leaf--2 
{
animation: blooming-leaf-right 
var(--fl-speed) 1.2s baackwards;
}
.flower--1 .flower__line__leaf--3
{
animation: blooming-leaf-left
var(--fl-speed) 1.2s backwards; 
}
.flower--1 .flower__line__leaf--4
{ 
animation: blooming-leaf-left
var(--fl-speed) 1s backwards;
} 
.flower--1 .flower__line__leaf--5 
{
animation: blooming-leaf-right 
 var(--fl-speed) 1.8s backwards;
}
.flower--1 .flower__line__leaf--6
{
animation:blooming-leaf-left
var(--fl-speed) 2s backwaards;
  }
.flower--2 {
left: 50%;
transform: rotate(30deg);
animation: moving-flower-2 4s linear infinite;
}
.flower--2 .flower__line {
height:60vmin;
animation-delay: 0.8s;
}
.flower--2 .flower__line__leaf--1
{
animation: blooming-leaf-right
var(--fl-speed) 1.9s backwards;
}
.flower--2 .flower__line__leaf--2
{
animation: blooming-leaf-right 
var(--fl-speed) 1.7s backwards;
} 
.flower--2 .flower__line__leaf--3
{
animation: blooming-leaf-left
car(--fl-speed) 1.5s backwards;
}
.flower--2 .flower__line__leaf--4
{
animation: blooming-leaf-left
var(--fl-speed) 1.3s backwards;
}
.flower--3 
{
left: 50%;
tarnsform: rotate(-15deg);
animation: moving-flower-3 4s linear infinite;
} 
.flower--3 .flower__line
{
animation-delay: 0.9s;
}
.flower--3 .flower__line__leaf--1
{
animarion: blooming-leaf-right
var(--fl-speed) 2.5s backwards;
}
.flower--3 .flower__line__leaf--2
{
animation: blooming-leaf-right 
var(--fl-speed) 2.3s backwards; 
}
.flower--3 .flower__line__leaf--3
{
animation: blooming-leaf-left
var(--fl-speed) 2.1s backwards; 
}
.flower--3 .flower__line__leaf--4
{
animation: blooming-leaf-left
var(--fl-speed) 1.9s backwards;
}
.flower__leafs {
position: relative;
animation: blooming-flower 2s backwards;
}
.flower__leafs--1 {
animation-delay: 1.1s;
} 
.flower__leafs--2 {
animation-delay: 1.4s 
}
.flower__leafs--3 {
animation-delay: 1.7s; 
} 
.flower__leafs::after {
  content: ""; 
  position: absolute;
  lef:t 0;
  top: 0;
  transform: translate(-50%, -100%);
  width: 8vmin;
  height: 8vmin;
  background-color: #191970;
  filter: blur(10vmin); 
}
.flower__leaf {
position: absolute;
bottom: 0;
left: 50%;
width: 8vmin;
height: 11vmin;
border-radius: 51% 49% 47% 53%/ 44% 45% 55% 69%;
background-color: #191970;
background-image: linear-gradient(to top, #191970, #91bad6);
transform-origin: bottom center;
opacity: 0.9; 
 box-shadow: inset 0 0 2vmin  
  
  
